:root {
    --clr-bg:  #202020;
    --clr-fg:  #333333;
    --clr-primary: #d19d24;
    --clr-secondary: #c4c4c4;
    --ff-primary: 'Raleway', sans-serif;
    --ff-secondary: 'Lato', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
  
body {
    width: 100%;
    display: grid;
    background-color: var(--clr-bg);
}

#game-wrapper {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 810px;
    height: 540px;
    display: grid;
    grid-template-rows: 5% 10% 50% 20% 10% 5%;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    "....  ........"
    "name  controls"
    "img      stats"
    "text inventory"
    "btns inventory"
    ".... .........";
}

#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#room-name {
    grid-area: name;
    color: red;
    display: grid;
    place-content: center center;
}

#game-controls {
    grid-area: controls;
    display: grid;
}

#room-img {
    grid-area: img;
}

#room-img img {
    width: 100%;
    height: 100%;
}

#stats {
    grid-area: stats;
    display: grid;
}

#room-description {
    grid-area: text;
    display: grid;
}

#story-text {
    place-self: center center;
    color: var(--clr-secondary);
}

#inventory {
    grid-area: inventory;
    display: grid;
}

#inventory .inventory-img {
    height: 25%;
    width: 25%;
}

#btns {
    grid-area: btns;
    display: flex;
    justify-content: space-evenly;
}

#btns .action-button {
    cursor: pointer;
    border: 2px solid var(--clr-bg);
    border-radius: 10px;
    height: 80%;
    width: 120px;
    align-self: center;
}

#btns .action-button.fade {
    -webkit-animation: fade-effect 1s forwards ease-in-out;
            animation: fade-effect 1s forwards ease-in-out;
}

@keyframes fade-effect {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#btns .action-button:hover {
    background:#333333;
    color: #c4c4c4;
}
