@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --black:  #202020;
    --red: #e20e40;
    --pink: #ff2a6d;
    --purple: #600078;
    --neon: hsl(317 100% 54%);
    --ff: 'Orbitron', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
  
body {
    width: 100%;
    display: grid;
    background-color: var(--black);
    font-family: var(--ff);
}

#game-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 100vh;
    display: grid;
    grid-template-rows: 5% 10% 50% 20% 10% 5%;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
    "....  ....  ........"
    "..... name  ........"
    "stats img  inventory"
    "stats text inventory"
    "stats btns inventory"
    "....  .... .........";
}

#background {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#room-name {
    grid-area: name;
    display: grid;
    place-content: center center;
    letter-spacing: 2px;
    color: var(--red);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--neon);
    padding-bottom: 10px;
}

#room-img {
    grid-area: img;
    border: 2px solid var(--red);
    border-radius: 8px;
    box-shadow: inset 0 0 0.5em 0 var(--neon), 0 0 0.5em 0 var(--neon);
}

#room-img img {
    width: 100%;
    height: 100%;
}

#room-img.fade {
    -webkit-animation: fade-effect 1s forwards ease-in-out;
            animation: fade-effect 1s forwards ease-in-out;
}

#stats {
    grid-area: stats;
    display: grid;
    color: var(--pink);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.4), 0 0 0.45em var(--neon);
    justify-self: center;
}

#room-description {
    grid-area: text;
    display: grid;
}

#room-description p {
    place-self: center center;
    color: var(--pink);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.4), 0 0 0.45em var(--neon);
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem;
}

#inventory {
    grid-area: inventory;
    display: grid;
    color: var(--pink);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.4), 0 0 0.45em var(--neon);
    justify-self: center;
}

#inventory .inventory-img {
    height: 25%;
    width: 25%;
}

#btns {
    grid-area: btns;
    display: flex;
    justify-content: space-evenly;
}

#btns .action-button {
    background-color: transparent;
    cursor: pointer;
    border: 2px solid var(--red);
    color: var(--pink);
    border-radius: 10px;
    height: 80%;
    width: 120px;
    font-size: .9rem;
    align-self: center;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--neon);
    box-shadow: inset 0 0 0.5em 0 var(--neon), 0 0 0.5em 0 var(--neon);
}

#btns .action-button.fade {
    -webkit-animation: fade-effect 1s forwards ease-in-out;
            animation: fade-effect 1s forwards ease-in-out;
}

@keyframes fade-effect {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#btns .action-button:hover {
    background: var(--pink);
    color: var(--black);
}
