@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Tomorrow&display=swap');

:root {
    --black:  #010101;
    --red: #fd0130;
    --yellow: #ffee08; 
    --pink: #ff2a6d;
    --cyan: #02D7F2;
    --ff-primary: 'Tomorrow', sans-serif;
    --ff-secondary: 'Orbitron', sans-serif;
    --width: 100%;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
  
body {
    width: 100%;
    display: grid;
    background-color: var(--black);
    font-family: var(--ff-primary);
}

#game-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 980px;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 7.5% 7.5% 40% 22.5% 7.5% 10% 5%;
    grid-template-columns: 25% 30% 5% 40%;
    grid-template-areas: 
    "...... ...... ...... ......"
    "rname  stats  ......  ....."
    "image  image  ......   text"
    "image  image  ......   btns"
    ".....  .....  ...... ......"
    "footer footer footer footer"
    "...... ...... ...... ......";
}

#background {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#room-name {
    display: grid;
    grid-area: rname;
    border: 2.5px solid var(--yellow);
    box-shadow: inset 0 0 .5rem 0 var(--yellow), 0 0 1rem 0 var(--yellow);
    border-bottom: none;
}

#game-stats {
    display: flex;
    grid-area: stats;
    align-items: center;
    justify-content: space-evenly;
}

#player-health {
    width: 50%;
    display: flex;
}

#game-stats i {
    color: var(--yellow);
    padding-right: 10px;
    align-self: center;
    font-size: clamp(1.5rem, 1rem + 1vw, 2rem); 
}

#health-bar {
    border: 2.5px solid var(--yellow);
    box-shadow: inset 0 0 .5rem 0 var(--yellow), 0 0 .5rem 0 var(--yellow);
    width: 100%;
    height: clamp(1rem, .9rem + 1vw, 1.5rem); 
    align-self: center;
    -webkit-clip-path: polygon(90% 0, 100% 60%, 100% 100%, 10% 100%, 0 60%, 0 0);
            clip-path: polygon(90% 0, 100% 60%, 100% 100%, 10% 100%, 0 60%, 0 0);
}

#health {
    width: var(--width);
    height: 100%;
    background-color: var(--red);
}

#player-info, #inventory-info {
    cursor: pointer;
}

#player-info:hover, #inventory-info:hover {
    color: var(--cyan);
}

#room-name h2 {
    place-self: center center;
    color: var(--cyan);
    font-size: 1.75rem;
    letter-spacing: 1px;
}

#room-img {
    grid-area: image;
    display: grid;
    background-color: var(--yellow);
    box-shadow: inset 0 0 .5rem 0 var(--yellow), 0 0 .5rem 0 var(--yellow);
}

#room-img img {
    width: 100%;
    height: 100%;
    -webkit-clip-path: inset(2.5px 2.5px round 10px);
            clip-path: inset(2.5px 2.5px round 10px);
}

#room-img.fade, #room-name.fade {
    -webkit-animation: fade-effect .5s forwards ease-in-out;
            animation: fade-effect .5s forwards ease-in-out;
}

#room-description {
    grid-area: text;
    display: grid;
    border: 2.5px solid var(--yellow);
    box-shadow: inset 0 0 .5rem 0 var(--yellow), 0 0 .5rem 0 var(--yellow);
}

#room-description p {
    place-self: center center;
    text-align: center;
    text-align: justify;
    -webkit-hyphens: auto;
          -ms-hyphens: auto;
    hyphens: auto;
    padding: 1rem;
    color: var(--cyan);
    text-shadow: 0 0 .1rem var(--cyan), 0 0 .1rem var(--cyan);
    font-size: 1rem;
    letter-spacing: 1px;
}

#btns {
    grid-area: btns;
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
    border: 2.5px solid var(--yellow);
    box-shadow: inset 0 0 .5rem 0 var(--yellow), 0 0 .5rem 0 var(--yellow);
}

#btns .action-button {
    background: none;
    opacity: 0;
    border: 2.5px solid var(--yellow);
    cursor: pointer;
    color: var(--cyan);
    text-shadow: 0 0 .1rem var(--cyan), 0 0 .1rem var(--cyan);
    height: 60%;
    width: 120px;
    align-self: center;
    letter-spacing: 1px;
    font-size: 1rem;
    -webkit-clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0 75%, 0 0);
            clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0 75%, 0 0);
}

#btns .action-button.fadeout {
    -webkit-animation: fade-out .25s forwards ease-in-out;
            animation: fade-out .25s forwards ease-in-out;
}

@-webkit-keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#btns .action-button.fadein {
    -webkit-animation: fade-in .5s forwards ease-in-out;
            animation: fade-in .5s forwards ease-in-out;
}

@-webkit-keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fade-effect {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-effect {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#btns .action-button:hover {
    background: var(--red);
}

#footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    border: 2.5px solid var(--yellow);
    box-shadow: inset 0 0 .5rem 0 var(--yellow), 0 0 .5rem 0 var(--yellow);
}

#contact {
    display: grid;
    place-content: center center;
    align-self: center;
    background: none;
    cursor: pointer;
    height: 75%;
    width: 60px;
    margin-left: 1rem;
    font-size: clamp(1.25rem, 1rem + 1vw, 2rem); 
    letter-spacing: 1px;
    font-weight: bolder;
    border: 2.5px solid var(--yellow);
    -webkit-clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0 75%, 0 0);
            clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0 75%, 0 0);
    color: var(--cyan);
}

#socials {
    display: grid;
    grid-auto-flow: column;
    margin-right: 1rem;
}

#socials a {
    display: grid;
    place-content: center center;
    align-self: center;
    margin-left: 2rem;
    height: 75%;
    width: 60px;
    color: var(--cyan);
    font-size: clamp(1.25rem, 1rem + 1vw, 2rem);  
    border: 2.5px solid var(--yellow);
    -webkit-clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0 75%, 0 0);
            clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0 75%, 0 0);
}

#contact:hover, #footer a:hover {
    background-color: var(--red);
}

#contact:active, #footer a:active {
    -webkit-animation: wiggle .25s;
            animation: wiggle .25s;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.25s ease-in-out;
    border: 2.5px solid var(--yellow);
    box-shadow: inset 0 0 .5rem 0 var(--yellow), 0 0 .5rem 0 var(--yellow);
    background-color: var(--black);
    z-index: 999;
    width: 640px;
    max-width: 80%;
    height: auto;
    overflow: hidden;
    display: grid; 
    place-content: start center;
}

#modal h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--red);
    text-shadow: 0 0 .1rem var(--red), 0 0 .1rem var(--red);
    letter-spacing: 2px;
}

#modal p {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    color: var(--cyan);
    text-shadow: 0 0 .1rem var(--cyan), 0 0 .1rem var(--cyan);
    letter-spacing: 1px;
}

#modal ol {
    justify-self: center;
}

#modal ol li {
    color: var(--cyan);
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

#player-name {
    height: 2rem;
}

#my-name {
    text-align: center;
}

#my-name label {
    font-size: 1rem;
    color: var(--cyan);
    text-shadow: 0 0 .1rem var(--cyan), 0 0 .1rem var(--cyan);
    letter-spacing: 1px;
}

#my-name input {
    background: none;
    border: 2.5px solid var(--yellow);
    color: var(--cyan);
    font-size: 1rem;
    padding-left: .25rem;
}

.contact-input label {
    font-size: 1rem;
    color: var(--cyan);
    text-shadow: 0 0 .1rem var(--cyan), 0 0 .1rem var(--cyan);
    letter-spacing: 1px;
    padding-bottom: .25rem;
    padding-top: .25rem;
}

#contact-form {
    display: grid;
    width: 150%;
    justify-self: center;
}

.contact-input input, .contact-input textarea {
    background: none;
    border: 2.5px solid var(--yellow);
    color: var(--cyan);
    font-size: 1rem;
    height: 125%; 
    padding-left: .25rem;
}

.contact-input {
    display: grid;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

#start-container, #new-game {
    display: grid;
    justify-self: center;
}

#start-game, #contact-btn, #restart {
    display: grid;
    justify-self: center;
    place-content: center center;
    border: 2.5px solid var(--yellow);
    font-size: 1rem;
    background: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .75rem;
    cursor: pointer;
    color: var(--cyan);
    text-shadow: 0 0 .1rem var(--cyan), 0 0 .1rem var(--cyan);
    -webkit-clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0 75%, 0 0);
            clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0 75%, 0 0);
    letter-spacing: 1px;
}

#heading {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
}

#close-btn {
    cursor: pointer;
    color: var(--yellow);
    font-size: 2rem;
    transform: translateX(calc(5rem + 5vw)) translateY(1vh);
}

#start-game:hover,
#start-game:focus,
#restart:hover,
#restart:focus,
#contact-btn:hover,
#contact-btn:focus {
    background-color: var(--red);
}

#start-game:active,
#restart:active,
#contact-btn:active {
    -webkit-animation: wiggle .25s;
            animation: wiggle .25s;
}

#modal.close {
    -webkit-animation: closeModal 0.25s forwards ease-in-out;
            animation: closeModal 0.25s forwards ease-in-out;
}

#modal.close.open {
    -webkit-animation: openModal 0.25s forwards ease-in-out;
            animation: openModal 0.25s forwards ease-in-out;
}

@-webkit-keyframes closeModal {
    0% {transform: translate(-50%, -50%) scale(1);}
    100% {transform: translate(-50%, -50%) scale(0);}
}

@keyframes closeModal {
    0% {transform: translate(-50%, -50%) scale(1);}
    100% {transform: translate(-50%, -50%) scale(0);}
}

@-webkit-keyframes openModal {
    0% {transform: translate(-50%, -50%) scale(0);}
    100% {transform: translate(-50%, -50%) scale(1);}
}

@keyframes openModal {
    0% {transform: translate(-50%, -50%) scale(0);}
    100% {transform: translate(-50%, -50%) scale(1);}
}

@-webkit-keyframes wiggle {
    0% {transform: scale(1);}
    25% {transform: scale(.9);}
    50% {transform: scale(.8);}
    75% {transform: scale(.9);}
    100% {transform: scale(1);}
}
  
@keyframes wiggle {
    0% {transform: scale(1);}
    25% {transform: scale(.9);}
    50% {transform: scale(.8);}
    75% {transform: scale(.9);}
    100% {transform: scale(1);}
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    opacity: 1;
    pointer-events: all;
    transition: 0.25s ease-in-out;
}

#overlay.close {
    pointer-events: none;
    -webkit-animation: closeOverlay 0.25s forwards ease-in-out;
            animation: closeOverlay 0.25s forwards ease-in-out;
}

#overlay.close.open {
    -webkit-animation: openOverlay 0.25s forwards ease-in-out;
            animation: openOverlay 0.25s forwards ease-in-out;
}

@-webkit-keyframes closeOverlay {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes closeOverlay {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes openOverlay {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes openOverlay {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (max-width: 1024px) {
    #game-wrapper {
        grid-template-rows: 10% 7.5% 35% 20% 7.5% 10% 10%;
        grid-template-columns: 25% 30% 5% 40%;
        grid-template-areas: 
        "...... ...... ...... ......"
        "rname  stats  ......  ....."
        "image  image  ......   text"
        "image  image  ......   btns"
        ".....  .....  ...... ......"
        "footer footer footer footer"
        "...... ...... ...... ......";
    }
}

@media (max-width: 840px) {
    #game-wrapper {
        max-width: 55%;
        height: 100%;
        grid-template-rows: 2% 7.5% 40% 27.5% 11% 10% 2%;
        grid-template-columns: 40% 60%;
        grid-template-areas: 
        ".....  ....."
        "rname  stats"
        "image  image"
        "text   text"
        "btns   btns"
        "footer footer"
        "...... ......";
    } 

    #room-name h2 {
        font-size: 1.5rem;
    }

    #modal h1 {
        font-size: 1.75rem;
    }

    #room-description {
        border-top: none;
    }

    #room-description p {
        padding-top: .5rem;
        font-size: .9rem;
    }

    #btns {
        margin-top: 0;
        border-top: none;
        border-bottom: none;
    }

    #btns .action-button {
        height: 75%;
    }

    #contact {
        height: 80%;
    }

    #socials a {
        height: 80%;
    }

    #btns .action-button:hover, #btns .action-button:focus,
    #start-game:hover, #start-game:focus,
    #restart:hover, #restart:focus,
    #contact-btn:hover, #contact-btn:focus,
    #contact:hover, #contact:focus,
    #footer a:hover, #footer a:focus {
        background: none;
    }

    #footer {
        justify-content: space-evenly;
    }

    #contact {
        padding: 1rem;
    }
}

@media (max-width: 740px) {
    #game-wrapper {
        max-width: 65%;
    }
}

@media (max-width: 598px) {
    #game-wrapper {
        max-width: 75%;
    }

    #close-btn {
        transform: translateX(17.5vw) translateY(1vh);
    }
}

@media (max-width: 545px) {
    #game-wrapper {
        max-width: 85%;
    }
}

@media (max-width: 475px) {
    #game-wrapper {
        max-width: 95%;
    }

    #modal {
        max-width: 90%;
    }
}

@media (max-width: 445px) {
    #room-name h2 {
        font-size: 1.25rem;
    }

    #modal h1 {
        font-size: 1.5rem;
    }

    #btns .action-button {
        font-size: .9rem;
    }
}

@media (max-width: 375px) {
    #game-wrapper {
        max-width: 100%;
    }

    #modal {
        max-width: 95%;
    }

    #player-name {
        width: 75%;
    }

    #room-name h2 {
        font-size: 1rem;
    }

    #room-description p {
        font-size: .85rem;
    }

    #socials a {
        margin-left: 1rem;
    }

    #contact-form {
        width: 135%;
    }

    #close-btn {
        transform: translateX(15vw) translateY(1vh);
    }
}
